#root {
  width: min(90vw, 1000px);
  margin: 0 auto;
}

.response-container {
  padding: 1rem;
  border: 1px solid #646cff;
  border-radius: 8px;
  font-size: 1.3rem;
}

.response-container h1 {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.2rem;
}

input {
  padding: 0.5rem;
}

.input-fields {
  display: flex;
  gap: 1rem;
  max-width: 500px;
}

.input-fields div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 1rem;
}

.input-fields div span {
  font-size: 2rem;
}

.input-fields div label {
  width: 100%;
}

.property-class {
  margin-block: 0.4rem;
}

.property-class span {
  margin-right: 1rem;
  cursor: pointer;
  color: blue
}

.property-class span:hover {
  text-decoration: underline;
}

.array-class div.object-class,
.array-class div.object-class .property-class {
  margin-left: 2rem;
}